<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1> offer name </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage offer
        <span class="caret"></span></button>
    </div>
    <ul class="dropdown-menu">
      <li><a href=""> Add</a></li>
      <li><a href=""> edit</a></li>
      <li><a href=""> delete</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p> offer desc </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p> offer address </p>
  </div>
</div>
