<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success"> New offer</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a (click)="bookOffer(offer)" class="list-group-item clearfix" *ngFor="let offer of offers">
      <div class="pull-left">
        <h4 class="list-group-item-heading"> {{offer.name}}</h4>
        <p class="list-group-item-text">{{offer.description}}</p>
      </div>
      <span class="pull-right">
        <img src="{{offer.imagePath}}" alt="{{offer.name}}" class="img-responsive" style="max-height: 50px">
      </span>
    </a>
  </div>
</div>
