<hr>
<!--  use custom structural directive  -->
<div *appUnless="false">
<!--  <h3 appBasicHighlight>Offers</h3>-->
</div>
<!--  use custom structural directive via ng-template - ngFor and ngIf can be used same way  -->
<ng-template [appUnless]="false">
<!--  <h3 appBasicHighlight>Offers: ng-template</h3>-->
</ng-template>

<!--  use custom directive  -->
<h3 appRendererHighlight [initialColor]="'yellow'" [defaultColor]="'red'" [activeColor]="'blue'">Offers : renderer</h3>
<hr>

<div class="row">
  <div class="col-md-5">
<!--  catch readyToBook from offers-list.components.ts  -->
<!--  $event is what is defined in subject and pushed with .next() method  -->
    <app-offers-list (readyToBook)="bookOffer($event)"></app-offers-list>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
<!--
 @Input() bookedListOffers (alias to bookedOffers) from BookedListComponent will be filled with bookedOffers
 from OffersComponent bookedOffers parameter
 @Output bookedListClean (alias to readyToClear) subject's /next() method is called from BookedListComponent
 and will lunch clearBooked() method in OffersComponent (no $event value need to be passed here)
-->
<app-booked-list [bookedListOffers]="bookedOffers" (bookedListClean)="clearBooked()"></app-booked-list>
