<hr>
<div class="row">
  <div class="col-md-5">
    <app-offers-list (readyToBook)="bookOffer($event)" ></app-offers-list>
  </div>
  <div class="col-md-6">
    <app-offer-detail></app-offer-detail>
  </div>
</div>
<!--
 @Input() bookedListOffers (alias to bookedOffers) from BookedListComponent will be filled with bookedOffers from OffersComponent bookedOffers parameter
 @Output bookedListClean (alias to readyToClear) event is emitted from BookedListComponent and will lunch clearBooked() method in OffersComponent
-->
<app-booked-list [bookedListOffers]="bookedOffers" (bookedListClean)="clearBooked()"></app-booked-list>
