<hr>
<!--  use custom structural directive  -->
<div *appUnless="false">
  <h3 appBasicHighlight>Offers</h3>
</div>
<!--  use custom structural directive via ng-template - ngFor and ngIf can be used same way  -->
<ng-template [appUnless]="false">
  <h3 appBasicHighlight>Offers: ng-template</h3>
</ng-template>

<!--  use custom directive  -->
<h3 appRendererHighlight [initialColor]="'red'" [defaultColor]="'yellow'" [activeColor]="'blue'">Offers : renderer</h3>
<hr>

<div class="row">
  <div class="col-md-5">
    <app-offers-list (readyToBook)="bookOffer($event)"></app-offers-list>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
<!--
 @Input() bookedListOffers (alias to bookedOffers) from BookedListComponent will be filled with bookedOffers from OffersComponent bookedOffers parameter
 @Output bookedListClean (alias to readyToClear) event is emitted from BookedListComponent and will lunch clearBooked() method in OffersComponent
-->
<app-booked-list [bookedListOffers]="bookedOffers" (bookedListClean)="clearBooked()"></app-booked-list>
